.DS_Store
.idea
.vscode/*
.zed
!.vscode/tasks.json
!.vscode/settings.template.json
!.vscode/launch.template.json
!.vscode/extensions.json
node_modules
*.tgz

# playwright
test-results/
playwright-report/
playwright/.cache/

# code coverage
.nyc_output
.coverage

# Build out
dist/
build
temp
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
.next
next-env.d.ts

# Cache
.eslintcache

__screenshots__/


.nx/cache
.nx/workspace-data

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
