.affine-image-wrapper {
  padding: 8px;
}
.affine-image-wrapper img {
  max-width: 100%;
  margin: auto;
  width: 100%;
}

.resizable {
  position: relative;
  margin: auto;
  border: 2px solid #fff;
  max-width: 100%;
}
.resizable:hover {
  border: 2px solid #4286f4;
}
.active .resizable {
  border: 2px solid #4286f4 !important;
}
.resizable .image-option-container {
  display: none;
  position: absolute;
  top: 4px;
  right: -52px;
  margin: 0;
  padding-left: 12px;
}

.resizable:hover .image-option-container {
  display: block;
}
.active .image-option-container {
  display: block !important;
}

.resizable .image-option-container .image-option {
  box-shadow: 0px 1px 10px -6px rgba(24, 39, 75, 0.8),
    0px 3px 16px -6px rgba(24, 39, 75, 0.4);
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  padding: 4px;
  width: 40px;
  margin: 0;
}
.resizable .image-option-container .image-option li {
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 32px;
  padding-top: 4px;
}
.resizable .image-option-container .image-option li:hover {
  background: #f1f3ff;
  border-radius: 5px;
  color: #6880ff;
}
.resizable .image-option-container .image-option li:hover path {
  fill: #6880ff;
}
.resizable .resizes {
  /* width: 100%; */
  height: 100%;
  box-sizing: border-box;
  line-height: 0;
}

.resizable .resizes .resize {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable:hover .resize {
  display: block;
}
.active .resize {
  display: block !important;
}
.resizable .resizes .resize.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizes .resize.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizes .resize.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizes .resize.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
