.affine-default-page-block-container {
  font-family: var(--affine-font-family);
  font-size: 18px;
  line-height: 26px;
  color: var(--affine-primary-color);
  font-weight: 400;
  width: 720px;
  height: 100%;
  margin: 0 auto;
  cursor: crosshair;
}

.affine-default-page-block-container > .affine-block-children-container {
  padding-left: 0;
}

.affine-default-page-block-title {
  width: 100%;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  outline: none;
  border: 0;
  font-family: inherit;
  color: inherit;
}
.affine-default-page-block-title::placeholder {
  color: var(--affine-placeholder-color);
}
