.affine-edgeless-page-block-container {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  font-family: var(--affine-font-family);
  font-size: var(--affine-font-base);
  line-height: var(--affine-line-height-base);
  color: var(--affine-edgeless-text-color);
  font-weight: 400;
}
