@font-face {
  font-family: 'color-emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
  unicode-range: U+1F000-1F644, U+203C-3299;
}

:root {
  --affine-theme-mode: light;
  --affine-editor-mode: page;
  --affine-primary-color: #6880ff;
  --affine-page-background: #fff;
  --affine-popover-background: #fff;
  --affine-hover-background: #f1f3ff;
  --affine-card-hover-background: #f8f9ff;
  --affine-code-background: #f2f5f9;
  --affine-tooltip-background: #6880ff;
  --affine-code-block-background: #fafbfd;
  --affine-hub-background: #fbfbfc;
  --affine-text-color: #424149;
  --affine-secondary-text-color: #8e8d91;
  --affine-edgeless-text-color: #3a4c5c;
  --affine-link-color: #6880ff;
  --affine-link-color2: #6880ff;
  --affine-link-visited-color: #abb8fe;
  --affine-icon-color: #77757d;
  --affine-block-handle-color: #c7c3d9;
  --affine-popover-color: #4c6275;
  --affine-input-color: #4c6275;
  --affine-code-color: #517ea6;
  --affine-quote-color: #4c6275;
  --affine-selected-color: rgba(104, 128, 255, 0.1);
  --affine-placeholder-color: #c0bfc1;
  --affine-border-color: #e3e2e4;
  --affine-disable-color: #a9a9ad;
  --affine-tooltip-color: #fff;
  --affine-line-number-color: #555770;
  --affine-modal-shadow: 4px 4px 7px rgba(58, 76, 92, 0.04),
    -4px -4px 13px rgba(58, 76, 92, 0.02), 6px 6px 36px rgba(58, 76, 92, 0.06);
  --affine-popover-shadow: 4px 4px 7px rgba(58, 76, 92, 0.04),
    -4px -4px 13px rgba(58, 76, 92, 0.02), 6px 6px 36px rgba(58, 76, 92, 0.06);
  --affine-tooltip-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
  --affine-font-h1: 28px;
  --affine-font-h2: 26px;
  --affine-font-h3: 24px;
  --affine-font-h4: 22px;
  --affine-font-h5: 20px;
  --affine-font-h6: 18px;
  --affine-font-base: 16px;
  --affine-font-sm: 14px;
  --affine-font-xs: 12px; /* not recommended */
  --affine-line-height: calc(1em + 8px);
  --affine-z-index-modal: 1000;
  --affine-z-index-popover: 100;
  --affine-font-family: color-emoji, Avenir Next, Poppins, apple-system,
    BlinkMacSystemFont, Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei,
    Arial, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --affine-font-number-family: Roboto Mono, apple-system, BlinkMacSystemFont,
    Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial,
    Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --affine-font-code-family: Space Mono, Consolas, Menlo, Monaco, Courier,
    monospace, apple-system, BlinkMacSystemFont, Helvetica Neue, Tahoma,
    PingFang SC, Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --affine-paragraph-space: 8px;
  --affine-popover-radius: 10px;
  --affine-editor-width: 720px;

  --affine-zoom: 1;
  --affine-scale: calc(1 / var(--affine-zoom));
}
