:root {
  --affine-zoom: 1;
  --affine-scale: calc(1 / var(--affine-zoom));
  --affine-theme-mode: light;
  --affine-editor-mode: page;
  --affine-primary-color: #6880ff;
  --affine-page-background: #fff;
  --affine-popover-background: #fff;
  --affine-hover-background: #f1f3ff;
  --affine-code-background: #f2f5f9;
  --affine-code-block-background: #fafbfd;
  --affine-block-hub-background: #fbfbfc;
  --affine-block-hub-hover-background: #f8f9ff;
  --affine-text-color: #3a4c5c;
  --affine-edgeless-text-color: #3a4c5c;
  --affine-link-color: #6880ff;
  --affine-link-color2: #6880ff;
  --affine-link-visited-color: #abb8fe;
  --affine-icon-color: #888a94;
  --affine-block-handle-color: #c7c3d9;
  --affine-popover-color: #4c6275;
  --affine-code-color: #48749b;
  --affine-quote-color: #4c6275;
  --affine-selected-color: rgba(104, 128, 255, 0.1);
  --affine-placeholder-color: #c7c7c7;
  --affine-border-color: #d0d7e3;
  --affine-disable-color: #c0c0c0;
  --affine-line-number-color: #888a9e;
  --affine-modal-shadow: 4px 4px 7px rgba(58, 76, 92, 0.04),
    -4px -4px 13px rgba(58, 76, 92, 0.02), 6px 6px 36px rgba(58, 76, 92, 0.06);
  --affine-popover-shadow: 4px 4px 7px rgba(58, 76, 92, 0.04),
    -4px -4px 13px rgba(58, 76, 92, 0.02), 6px 6px 36px rgba(58, 76, 92, 0.06);
  --affine-font-xs: 12px;
  --affine-font-sm: 16px;
  --affine-font-base: 18px;
  --affine-line-height-base: 26px;
  --affine-z-index-modal: 1000;
  --affine-z-index-popover: 100;
  --affine-font-family: Avenir Next, Poppins, apple-system, BlinkMacSystemFont,
    Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial,
    Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --affine-font-mono: Space Mono, Consolas, Menlo, Monaco, Courier, monospace;
  --affine-paragraph-space: 8px;
  --affine-popover-radius: 10px;

  --affine-tooltip-color: #fff;
  --affine-tooltip-background: var(--affine-primary-color);
  --affine-tooltip-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
}
