.affine-paragraph-block-container {
  border-radius: 5px;
}
.affine-paragraph-block-container.selected {
  background-color: var(--affine-selected-color);
}
.h1 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 40px;
  font-weight: 600;
}
.h2 {
  font-size: 28px;
  line-height: 38px;
  margin-top: 38px;
  font-weight: 600;
}
.h3 {
  font-size: 26px;
  line-height: 36px;
  margin-top: 36px;
  font-weight: 600;
}
.h4 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 34px;
  font-weight: 600;
}
.h5 {
  font-size: 22px;
  line-height: 30px;
  margin-top: 30px;
  font-weight: 600;
}
.h6 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 28px;
  font-weight: 600;
}
.quote {
  font-size: 18px;
  line-height: 26px;
  padding-left: 12px;
  margin-top: 9px;
  margin-bottom: 9px;
  color: #4c6275;
  position: relative;
}
.quote::after {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #4c6275;
  border-radius: 4px;
}
.text {
  margin-top: 9px;
  margin-bottom: 9px;
}

strong {
  font-weight: 600;
}

code {
  background: #f2f5f9;
  color: #517ea6;
  font-family: Roboto Mono;
  padding: 0 5px;
  border-radius: 2px;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #4c6275;
}

del {
  text-decoration: line-through;
}

em {
  font-style: italic;
}
