code-block {
  position: relative;
  z-index: 1;
}

.affine-code-block-container {
  position: relative;
  border-radius: 10px;
  width: 720px;
  margin-top: 15px;
  background: #fafbfd;
  font-size: calc(var(--affine-font-base) - 4px);
  font-family: var(--affine-font-family2);
  line-height: calc(var(--affine-line-height-base) - 6px);
  padding-bottom: 20px;
}

.container {
  position: absolute;
  bottom: 5px;
  right: 40px;
  font-size: var(--affine-font-xs);
}

.affine-code-block-container.selected {
  background-color: var(--affine-selected-color);
}

.affine-code-block-container rich-text {
  position: relative;
}

#line-number {
  position: absolute;
  text-align: right;
  top: 16px;
  left: 25px;
  line-height: calc(var(--affine-line-height-base) - 6px);
  color: var(--affine-line-number-color);
}

.affine-code-block-container .ql-container {
  left: 40px;
  border-radius: 5px;
  padding: 2px 15px;
}

.affine-code-block-container .ql-syntax {
  width: 660px;
  overflow: scroll;
}

.affine-code-block-container .wrap {
  white-space: pre-wrap;
}

.lang-container {
  color: var(--affine-icon-color);
  line-height: calc(var(--affine-line-height-base) - 10px);
  text-align: justify;
  position: relative;
}

.code-block-option {
  box-shadow: 0px 1px 10px -6px rgba(24, 39, 75, 0.8),
    0px 3px 16px -6px rgba(24, 39, 75, 0.4);
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  padding: 4px;
  width: 40px;
  background-color: var(--affine-page-background);
  margin: 0;
}

.code-block-option li {
  list-style: none;
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 32px;
  padding-top: 4px;
}
.code-block-option li:hover {
  background: #f1f3ff;
  border-radius: 5px;
  color: #6880ff;
}

.code-block-option {
  fill: #6880ff;
}

tool-tip {
  font-family: var(--affine-font-family);
  position: absolute;
  left: 0;
  top: 0;
  inline-size: max-content;
  text-align: center;
  font-size: var(--affine-font-xs);
  padding: 4px 12px;
  border-radius: 10px 10px 10px 0px;
  color: var(--affine-tooltip-color);
  background: var(--affine-tooltip-background);
  box-shadow: var(--affine-tooltip-shadow);
  border-radius: 10px 10px 10px 0px;

  opacity: 0;
  transform: translateX(0) translateY(calc(-100% - 8px));
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  user-select: none;
}

.has-tool-tip {
  position: relative;
}
.has-tool-tip:is(:hover, :focus-visible, :active) > tool-tip {
  opacity: 1;
  transition-delay: 200ms;
}
