.affine-embed-wrapper {
  padding: 10px;
  text-align: center;
}
.affine-embed-wrapper-caption {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  border: 0;
  font-family: inherit;
  color: inherit;
  text-align: center;
}

.affine-embed-wrapper-caption::placeholder {
  color: var(--affine-placeholder-color);
}
