.affine-page-block-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  outline: none;
  border: 0;
}
.affine-page-block-title::placeholder {
  color: #ddd;
}
.affine-page-block-container {
  padding-left: -34px;
}
