.app {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  padding: 10px;
  width: 250px;
}

.sidebar .header {
  margin-bottom: 10px;
}

.doc-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.doc-item.active,
.doc-item:hover {
  background-color: #f0f0f0;
}

.doc-item-title {
  width: 100%;
  margin-right: 10px;
}
.doc-item-title:hover {
  cursor: pointer;
}

.del-doc {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  padding: 0;
  margin: 0;
}

.del-doc:hover {
  border: 1px solid red;
  border-radius: 5px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
}

.top-bar div {
  margin-left: 10px;
}

.top-bar button {
  margin: auto 2px;
}

.top-bar .connected {
  color: green;
}

.top-bar .disconnected {
  color: grey;
}

.top-bar .error {
  color: red;
}

.main-content {
  flex: 1;
}
