.affine-shape-block {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* enable pointer events, otherwise edgeless block cannot detect by mouse event */
.affine-shape-block-hit-box {
  fill: none;
  stroke: transparent;
  stroke-width: calc(24px * var(--affine-scale));
  pointer-events: stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
}
