name: Browser compatibility (Firefox and Safari)

on:
  schedule:
    # At the end of every day
    - cron: '0 0 * * *'

jobs:
  main-test:
    name: Playground E2E test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        browsers: [firefox, safari]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.9.5
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright browsers
        run: npx playwright install ${{ matrix.browsers }}

      - name: Run playwright tests
        run: TEST_PLAYWRIGHT_BROWSER_NAME=${{ matrix.browsers }} pnpm test -- --forbid-only

      - name: Upload test results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: test-results-main
          path: ./test-results
          if-no-files-found: ignore
