name: Pull Request title adheres to guidelines

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - labeled
      - unlabeled
    branches:
      - master

permissions:
  contents: read

jobs:
  check-pull-request-title:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v2
        with:
          version: 7.9.5
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: echo "${{ github.event.pull_request.title }}" | npx commitlint -g ./.commitlintrc.json
