name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.9.5
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright browsers
        run: PLAYWRIGHT_BROWSERS_PATH=0 npx playwright install chromium

      - name: Run tests
        run: PLAYWRIGHT_BROWSERS_PATH=0 pnpm test -- --forbid-only

      - name: Check Store Change
        id: check-store-change
        uses: tj-actions/changed-files@v35
        with:
          files: |
            packages/store/**

      - name: Run store tests
        if: steps.check-store-change.outputs.any_changed == 'true'
        run: PLAYWRIGHT_BROWSERS_PATH=0 pnpm test:store -- --forbid-only

      - name: Upload test results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ./test-results
          if-no-files-found: ignore
