name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.husky'
      - '.vscode'
      - '**.md'
      - 'scripts/**'
      - 'packages/docs/**'
  pull_request:
    paths-ignore:
      - '.husky'
      - '.vscode'
      - '**.md'
      - 'scripts/**'
      - 'packages/docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install

      - name: Use Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: master

      - name: Start CI run
        run: npx nx-cloud start-ci-run --distribute-on="5 linux-medium-js" --require-explicit-completion

      - name: Install dependencies
        run: pnpm install

      - name: Run build
        run: pnpm nx affected -t build --exclude @blocksuite/docs,blocksuite

      - name: Run unit tests
        run: pnpm nx affected -t test:unit --exclude blocksuite

      - name: Run e2e tests
        run: pnpm nx affected -t e2e-ci
        env:
          COVERAGE: true

      # The coverage seems not working now, re-enable it when it's fixed
      #      - name: Upload unit test coverage results
      #        uses: codecov/codecov-action@v3
      #        with:
      #          token: ${{ secrets.CODECOV_TOKEN }}
      #          files: ./.coverage/block-std/lcov.info,./.coverage/blocks/lcov.info,./.coverage/global/lcov.info,./.coverage/inline/lcov.info,./.coverage/store/lcov.info,./.coverage//lcov.info
      #          flags: unittest
      #          name: blocksuite
      #          fail_ci_if_error: false
      #
      #      - name: Upload E2E test coverage results
      #        uses: codecov/codecov-action@v3
      #        with:
      #          token: ${{ secrets.CODECOV_TOKEN }}
      #          files: ./.coverage/lcov.info
      #          flags: e2etest
      #          name: blocksuite
      #          fail_ci_if_error: false

      - run: npx nx-cloud complete-ci-run
        if: always()
