.affine-list-block-container {
  box-sizing: border-box;
  border-radius: 5px;
}
.affine-list-block-container--first {
  margin-top: var(--affine-paragraph-space);
}
.affine-list-block-container .affine-list-block-container {
  margin-top: 0;
}
.affine-list-block-container.selected {
  background-color: var(--affine-selected-color);
}
.affine-list-rich-text-wrapper {
  display: flex;
}
.affine-list-rich-text-wrapper rich-text {
  flex: 1;
}

.affine-list-block__prefix {
  flex-shrink: 0;
  min-width: 26px;
  height: 26px;
  margin-top: 3px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--affine-code-color);
  font-size: 14px;
  line-height: var(--affine-line-height-base);
}
.affine-list-block__todo {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--affine-icon-color);
}
.affine-list-block__todo.affine-list-block__todo--active {
  background: var(--affine-icon-color);
}

.affine-list--checked {
  color: var(--affine-icon-color);
}
